h1, h3 {
    font-family: Merriweather;
    text-decoration: underline;
    color: firebrick;
}
a:link {
color: black;
}
a:hover {
    color: blue;
}
li {
    color: cadetblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
p {
    font-family: 'Times New Roman', Times, serif;
}
.fav-players {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:100%;
}

.fav-players img{
    height: 175px;
}